.quiz-box {
    width: 75%;
    text-align: center;
    padding: 10px;
    margin: 12.5%;
    color: black;
    background-color: rgb(186, 203, 220);
    border-radius: 10px;
}

.hover{
    background-color:  red;
}

.quiz-item {
    padding: 5px;
    margin: 25px;
    text-align: left;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(26, 226, 176);
    background-color: aqua;
}

.quiz-item-main{
    text-align: left;
    margin: auto;
    font-size: 30px;
    padding: 5px;
}

.quiz-item-option {
    padding: 10px;
    margin: 10px;
    border: 2px;
    font-size: 30px;
    
}

.quiz-item-option:hover{
    background-color: yellowgreen;
}